.main_card {
  height: 230px;
  width: 200px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px 6px #00000029;
  border-radius: var(--border-radius);
  transition: all ease-in-out 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.main_card:hover {
  height: 450px;
  transform: scale(1.05);
  border: solid 1px var(--primary);
  box-shadow: 0 3px 10px 6px var(--primary);
}

.info {
  display: none;
  width: 90%;
}

.main_card:hover .info {
  display: block;
}

.main_card img {
  width: 90%;
  border-radius: var(--border-radius-2);
}

.main_card h3 {
  color: var(--text-dark);
  font-weight: 600;
  font-size: medium;
}

.main_card p {
  color: var(--text-dark);
  font-weight: 600;
  font-size: small;
}
