.main_card {
  height: 350px;
  width: 300px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px 6px #00000029;
  border-radius: var(--border-radius);
  transition: all ease-in-out 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.main_card:hover {
  height: 550px;
  transform: scale(1.02);
  border: solid 1px var(--primary);
  box-shadow: 0 3px 10px 6px var(--primary-shadow);
}

/* Info text på kortet */
.info {
  display: none;
  width: 90%;
}
.main_card:hover .info,
.main_card:hover .amount,
.main_card:hover .next {
  display: flex;
}

.main_card img {
  width: 90%;
  border-radius: var(--border-radius-2);
}

.main_card h3 {
  color: var(--text-dark);
  font-weight: 600;
  font-size: medium;
}

.main_card p {
  color: var(--text-dark);
  font-weight: 600;
  font-size: small;
}

/* Amount diven där antalet timmar väljs */
.amount {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
/* Räknaren till höger på kortet */
.counter {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;
}

/* Räknar knapp */
.c_button {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: solid 2px var(--primary);
  color: var(--primary);
  transition: all ease-in-out 0.1s;
  font-size: x-large;
}

.c_button:active {
  background-color: var(--primary);
  border: none;
  color: white;
  box-shadow: 0 3px 10px 6px var(--primary-shadow);
  transform: scale(1.05);
}

.next {
  display: none;
  position: absolute;
  bottom: 10px;
  background-color: var(--primary);
  color: white;
  width: 80px;
  height: 40px;
  transition: all ease-in-out 0.2s;
}

.next:active {
  box-shadow: 0 3px 10px 6px var(--primary-shadow);
  transform: scale(1.05);
}
