.progress {
  width: auto;
  height: 10vh;
  margin-top: 10vh;
  display: flex;
  gap: 8vw;
}

.progress_ball {
  height: 60px;
  width: 60px;
  background-color: #c1c1c1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress_ball_active {
  height: 60px;
  width: 60px;
  background-color: var(--primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress_txt {
  display: none;
  margin-top: 150px;
  width: 60px;
  height: 60px;
  justify-content: center;
  text-align: center;
  color: var(--text-dark);
  font-weight: 600;
}

.progress_txt_active {
  display: flex;
  margin-top: 150px;
  width: 60px;
  height: 60px;
  justify-content: center;
  text-align: center;
  color: var(--text-dark);
  font-weight: 600;
}

.content {
  min-height: 60vh;
  height: auto;
  width: 80vw;

  margin-top: 5vh;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
