.nav {
  width: 100vw;
  height: 8vh;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 3px 10px 6px #00000029;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  width: 20vw;
  height: 100%;
  background-color: cyan;
}

.nav_buttons {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_buttons a {
  font-size: x-large;
  color: var(--text);
  transition: all ease-in-out 0.2s;
  width: 20%;
}

.nav_buttons a:hover {
  color: var(--text-hover);
  font-weight: 800;
}
